*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: #5f74ff;
}
::-webkit-scrollbar-thumb{
    background-color: #000B56;
}
a, a:hover{
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #2E008B;
    padding: 10px 0;
    z-index: 5;
    box-shadow: 0px 0.5px 10px #000000;
    position: fixed;
    height: 60px;
}
nav .brand_items{
    width: 20%;
    display: flex;
    align-items: center;
}
nav .brand_items .logo{
    margin-left: 4vw;
    background-image: url(images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
    transform: scale(5);
    cursor: pointer;
}
nav .brand_items .brand{
    margin-left: 40px;
    max-width: 100px;
    line-height: 20px;
    font-size: 23px;
    font-weight: 600;
    cursor: pointer;
    color: white;
}
nav .collapse{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 20px;
}
nav .collapse ul li a{
    color: white!important;
    cursor: pointer;
    margin-right: 60px;
}
.searchtab{
    padding-top: 60px;
    background-color: #2E008B;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 2;
    border-bottom: 10px solid #5353E0;
}
.searchtab .searchbar{
    display: flex;
    align-items: center;
}
.searchtab .searchbar .input_area{
    width: 400px;
    border-radius: 10px;
    margin-right: 20px;
}
.searchtab .searchbar .input_area{
    padding: 10px;
    height: 35px;
}
.searchtab .searchbar .searchbtn{
    height: 35px;
    width: 35px;
    background-image: url(images/search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.searchtab .consult{
    display: flex;
    align-items: center;
}
.searchtab .consultbtn{
    background-color: #5353E0;
    padding: 6px 20px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 30px;
    letter-spacing: 1px;
    transition: 0.5s ease-in-out;
}

.searchtab .consultbtn:hover{
    color: #5353E0;
    background-color: white;
    cursor: pointer;
    animation: bounce 0.25s linear forwards;
}
@keyframes bounce{
    0%{
        transform: scale(1);
    }
    33%{
        transform: scale(0.9);
    }
    67%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}
.searchtab .estimate{
    padding: 10px 20px;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.main_heading{
    text-align: center;
    color: #2E008B;
    font-size: 32px;
    padding-top: 160px;
}
.recordcounter{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 30px;
    padding-right: 5vw;
}
.recordcounter .counter{
    padding: 5px 10px;
    border-radius: 50%;
    background-color: #E8F1FF;
    color: #707070;
    font-size: 18px;
}
.recordcounter .record{
    padding: 5px 5px;
    color: #707070;
    font-size: 18px;
}
.cont1{
    margin-top: 20px;
    padding-right: 4vw;
}
.cont1 .dropdown{
    display: flex;
    justify-content: flex-end;
}
.cont1 .dropdown .dropdownbox{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 5vw;
}
.cont1 .dropdown .dropdownbox .btn-group .dropdown-toggle{
    width: 250px;
    color: #000B56;
    background-color: rgba(223, 223, 223, 0.534);
    border-bottom: 2px solid #5353E0;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease-in-out;
}
.cont1 .dropdown .dropdownbox .btn-group .dropdown-toggle:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 10px rgba(49, 49, 49, 0.5);
}
.result_field{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 2000px;
    background-color: rgba(202, 202, 202, 0.25);
    margin-bottom: 40px;
}
.card_{
    width: 80%;
    background-color: #DCEBFF;
    border-radius: 20px;
    padding-bottom: 20px;
}
.card_ .image_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.card_ .image_section .img{
    height: 175px;
    width: 175px;
    background-color: black;
    margin-bottom: 10px;
    box-shadow: 0px 5px 10px rgba(31, 31, 31, 0.7);
    border-radius: 10px;
}
.card_ .image_section .text{
    color: #2A0080;
    font-size: 24px;
}
.card_ .image_section .smalltext{
    font-size: 14px;
    color: #2A0080;
}
.card_ .details{
    padding-top: 20px;
    font-size: 14px;
    text-align: justify;  
    color: #000880;  
}
.card_ .details .heading{
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
}
.card_ .details .smallheading{
    font-weight: 600;
    line-height: 30px;
}
.card_ .btns{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.card_ .btns .read{
    color: #000B56;
    font-size: 24px;
    margin-left: 20px;
}
.card_ .btns .enqbtn{
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 7.5px 15px;
    background-color: #3243CF;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.card_ .btns .enqbtn:hover{
    color: #3243CF;
    background-color: white;
}
.pgcounter{
    display: flex;
    position: absolute;
    bottom: -80px;
    right: 5%;
    margin: 10px;
    font-size: 18px;
}
.pgcounter .pg_no{
    margin-right: 10px;
    padding: 5px 15px;
    color: white;
    background-color: #000B56;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}
.pgcounter .pg_no:hover{
    background-color: #a4b2ff46;
    color: #000B56;
    cursor: pointer;
}
.pgcounter .next_pg{
    padding: 5px 10px;
    color: #000B56;
    background-color: white;
    border: 1px solid #000B56;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}
.pgcounter .next_pg:hover{
    font-weight: 600;
    color: white;
    background-color: #000B56;
    transform: translateX(5px);
    cursor: pointer;
}
.downdesign2{
    position: relative;
    z-index: -1;
}
.downdesign2 .top{
    position: absolute;
    transform: translateY(100px);
}
.downdesign2 .bottom{
    position: absolute;
}
.footer{
    margin-top: 240px;
}
.footer .box_1{
    display: flex;
    justify-content: center;
}
.footer .box_1 .box_11{
    padding: 0 80px 0 0;
}
.footer .box_1 .bigheading,
.footer .box_2 .bigheading{
    font-size: 18px;
    font-weight: 700;
    color: white;
}
.footer .box_1 .smallheading,
.footer .box_2 .smallheading{
    font-size: 14px;
    color: white;
}
.footer .box_2{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

@media only screen and (max-width: 1000px) and (min-width: 710px){
    nav{
        height: 70px;
    }
    nav .brand_items{
        width: 80%;
    }
    nav .brand_items .brand{
        font-size: 24px;
    }
    nav .collapse{
        display: none;
        background-color: #2E008B;
    }
    nav .collapse ul li a{
        margin-right: 0;
        border-bottom: 4px solid white;
    }
    .navbar-toggler{
        background-image: url(images/toggle.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .searchtab{
        padding-top: 75px;
        padding-bottom: 10px;
        justify-content: space-around;
        border-bottom: 8px solid #5353E0;
    }
    .searchtab .searchbar{
        display: flex;
        align-items: center;
    }
    .searchtab .searchbar .input_area{
        width: 250px;
        margin-right: 10px;
    }
    .searchtab .searchbar .searchbtn{
        height: 40px;
        width: 40px;
    }
    .searchtab .consultbtn{
        padding: 6px 10px;
        font-size: 18px;
        letter-spacing: 0px;
    }
    .searchtab .estimate{
        font-size: 20px;
    }
}

@media only screen and (min-width: 451px) and (max-width: 709px ){
    nav{
        height: 70px;
    }
    nav .brand_items{
        width: 80%;
    }
    nav .brand_items .brand{
        font-size: 24px;
    }
    nav .collapse{
        display: none;
        background-color: #2E008B;
    }
    nav .collapse ul li a{
        margin-right: 0;
        border-bottom: 4px solid white;
    }
    .navbar-toggler{
        background-image: url(images/toggle.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .searchtab{
        padding-top: 75px;
        justify-content: space-between;
        border-bottom: 5px solid #5353E0;
    }
    .searchtab .searchbar{
        display: flex;
        align-items: center;
    }
    .searchtab .searchbar .input_area{
        width: 100%;
        margin-right: 10px;
    }
    .searchtab .searchbar .searchbtn{
        height: 40px;
        width: 40px;
        margin-right: 20px;
    }
    .searchtab .consultbtn{
        padding: 6px 10px;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0px;
    }
    .searchtab .estimate{
        font-size: 14px;
    }
}
@media only screen and (max-width: 450px){
    nav{
        height: 70px;
    }
    nav .brand_items{
        width: 70%;
    }
    nav .brand_items .brand{
        font-size: 18px;
    }
    nav .collapse{
        display: none;
        background-color: #2E008B;
        padding: 0 5vw;
        padding-bottom: 10px;
    }
    nav .collapse ul li a{
        margin-right: 0;
        border-bottom: 4px solid white;
    }
    .navbar-toggler{
        background-image: url(images/toggle.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }   
    .searchtab{
        padding-top: 75px;
        justify-content: center;
        border-bottom: 3px solid #5353E0;
    }
    .searchtab .searchbar .input_area{
        width: 150px;
        border-radius: 10px;
        margin-right: 5px;
    }
    .searchtab .searchbar .searchbtn{
        height: 40px;
        width: 40px;
        margin-right: 5px;
    }
    .searchtab .consult{
        justify-content: center;
    }
    .searchtab .consultbtn{
        padding: 5px 10px;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0px;
        text-align: center;
    }
    .searchtab .estimate{
        padding: 10px 0;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }
}
@media only screen and (max-width: 1000px) and (min-width: 550px){
    
    .cont1{
        margin-top: 40px;
        padding-right: 0vw;
    }
    .cont1 .dropdown{
        display: flex;
        justify-content: center;
    }
    .cont1 .dropdown .dropdownbox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    .card_{
        width: 90%;
    }
    .card_ .image_section{
        height: auto;
        margin-bottom: 50px;
        padding-top: 30px;
    }
    .footer{
        margin-top: 68px;
    }
    .footer .box_1{
        display: flex;
        justify-content: center;
    }
    .footer .box_1 .box_11{
        padding: 0 20px 0 0;
    }
    .footer .box_1 .bigheading,
    .footer .box_2 .bigheading{
        font-size: 14px;
        font-weight: 500;
        color: white;
    }
    .footer .box_1 .smallheading,
    .footer .box_2 .smallheading{
        font-size: 12px;
        color: white;
    }
    .footer .box_2{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }
}
@media only screen and (max-width: 1030px) and (min-width: 1000px){
    .footer{
        margin-top: 100px;
    }
}
@media only screen and (max-width: 550px){
    
    .main_heading{
        font-size: 24px;
    }
    .recordcounter .counter{
        font-size: 16px;
    }
    .recordcounter .record{
        font-size: 16px;
    }
    .cont1{
        margin-top: 20px;
        padding-right: 4vw;
    }
    .cont1 .dropdown{
        display: flex;
        justify-content: center;
    }
    .cont1 .dropdown .dropdownbox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    .card_{
        width: 95%;
    }
    .card_ .image_section{
        height: auto;
        margin-bottom: 0px;
        padding-top: 30px;
    }
    .card_ .image_section .img{
        height: 150px;
        width: 150px;
    }
    .card_ .image_section .text{
        font-size: 20px;
        font-weight: 700;
    }
    .card_ .image_section .smalltext{
        font-size: 14px;
        color: #2A0080;
    }
    .card_ .details{
        padding-top: 20px;
        font-size: 16px;
    }
    .card_ .details .heading{
        line-height: 30px;
    }
    .card_ .details .smallheading{
        font-weight: 600;
        line-height: 30px;
    }
    .card_ .btns .read{
        color: #000B56;
        font-size: 18px;
        margin-left: 20px;
    }
    .card_ .btns .enqbtn{
        font-size: 16px;
    }
    .pgcounter{
        bottom: -20px;
        font-size: 16px;
    }
    .footer{
        margin-top: 18px;
    }
    .footer .box_1{
        display: flex;
        justify-content: center;
    }
    .footer .box_1 .box_11{
        padding: 0 10px 0 0;
    }
    .footer .box_1 .bigheading,
    .footer .box_2 .bigheading{
        font-size: 7px;
        font-weight: 500;
        color: white;
    }
    .footer .box_1 .smallheading,
    .footer .box_2 .smallheading{
        font-size: 6px;
        color: white;
    }
    .footer .box_2{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }
}