.page1{
    overflow-x: hidden;
}
.page1 .cont1{
    padding: 190px 10vw 50px 10vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page1 .cont1 .toplogo{
    position: absolute;
    height: 180px;
    width: 300px;
    top: 10px;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #000492;
    clip-path: ellipse(66% 100% at 33% 0%);
}
.page1 .cont1 .toplogo .box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page1 .cont1 .toplogo .logo{
    background-image: url(../assets/page1/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
    transform: scale(5);
}
.page1 .cont1 .toplogo .brand{
    color: white;
    margin-left: 40px;
    line-height: 25px;
    font-size: 28px;
    padding-right: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}
.page1 .cont1 .toplogo .tagline{
    color: white;
}
.page1 .cont1 .box1{
    height: 50vh;
    color: #000492;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page1 .cont1 .box1 .mainheading{
    font-size: 48px; 
    font-weight: 700; 
}
.page1 .cont1 .box1 .smallheading{
    margin-top: 50px;
    font-size: 24px; 
    font-weight: 500; 
}
.page1 .cont1 .box1 .bluebtncnt{
    margin-top: 50px;
}
.page1 .cont1 .box1 .bluebtn{
    background-color: #000B56;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.page1 .cont1 .box2{
    background-image: url(../assets/page1/con1box2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.page1 .cont1 .downarrow{
    margin-top: 40px;
    height: 60px;
    width: 60px;
    background-image: url(../assets/page1/downarrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.page1 .navigation{
    position: sticky;
    top: -2px;
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #2E008B;
    color: white;
    padding: 20px 0;
    z-index: 5;
}
.page1 .navigation .brand_items{
    width: 20%;
    display: flex;
    align-items: center;
}
.page1 .navigation .brand_items .logo{
    margin-left: 2vw;
    background-image: url(../assets/page1/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
    transform: scale(5);
}
.page1 .navigation .brand_items .brand{
    margin-left: 40px;
    max-width: 100px;
    /* line-height: 25px; */
    font-size: 28px;
}
.page1 .navigation .nav_items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    font-size: 22px;
}
.page1 .navigation .nav_items .white{
    color: white;
    cursor: pointer;
    height: 100%;
}
.page1 .cont2 .updesign{
    position: absolute;
    left:0;
    z-index: 0;
}
.page1 .cont2 .box_2{
    position: relative;
    padding: 0;
}
.page1 .cont2 .box_2 .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page1 .cont2 .box_2 .form .treatment_input, 
.page1 .cont2 .box_2 .form .location_input{
    margin-top: 45px;
    font-size: 24px;
    width: 50%;
    cursor: pointer;
}
.page1 .cont2 .box_2 .form .searchbutton{
    height: 70px;
    width: 70px;
    margin-top: 45px;
    background-image: url(../assets/page1/search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.page1 .cont2 .box_2 .estimate{
    font-size: 48px;
    padding-top: 30px;
    color: white;
    display: flex;
    justify-content: center;
    font-weight: 700;
}
.page1 .cont2 .doctor_earphone{
    height: 400px;
    width: 100%;
    background-image: url(../assets/page1/doctorearphone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page1 .cont2 .doctor{
    height: 400px;
    width: 100%;
    background-image: url(../assets/page1/doctor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}
.page1 .bottomborder{
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 5;
}
.page1 .bottomborder .firstbottom{
    height: 10px;
    background-color: #5353E0;
}
.page1 .bottomborder .secondbottom{
    height: 20px;
    background-color: #2E008B;
}
.page1 .cont3 .row{
    padding: 0 5vw;
}
.page1 .cont3 .box_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page1 .cont3 .box_1 .bigheading{
    font-size: 42px;
    color: #000492;
}
.page1 .cont3 .box_1 .smallheading{
    font-size: 24px;
    color: #000492;
}
.page1 .cont3 .box_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page1 .cont3 .box_2 .form{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #4F49F3;
    padding: 50px 40px;
    margin-top: 100px;
}
.page1 .cont3 .box_2 .form label{
    color: white;
    font-size: 24px;
    margin-top: 10px;
}
.page1 .cont3 .box_2 .form .input_area{
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.page1 .cont3 .leftarrow{
    position: absolute;
    top: 50%;
    right: 0;
    background-image: url(../assets/page1/leftarrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 60px;
    width: 60px;
    
}

.page1 .cont3 .rightarrow{
    position: absolute;
    top: 50%;
    left: 0;
    background-image: url(../assets/page1/rightarrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 60px;
    width: 60px;
    
}
.page1 .cont3 .box_2 .submitbtn{
    margin-top: 100px;
    padding: 10px 30px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: #000E6F;
    border-radius: 50px;
    cursor: pointer;
}
.page1 .downdesign.up{
    position: relative;
    z-index: -1;
    transform: translateY(8vw);
}
.page1 .downdesign.down{
    position: relative;
    z-index: -1;
    transform: rotate(180deg) translateY(8vw);
}
.page1 .downdesign .top{
    position: relative;
    bottom: 0;
}
.page1 .downdesign .bottom{
    position: absolute;
    bottom: 0;
}
.page1 .downdesign .bottom{
    position: absolute;
    bottom: 0;
}
.page1 .cont4{
    border: 2px solid #2e008b;
    margin-top: -40px;
    background-color: #2e008b;
    margin-top: 0px;
}
.page1 .cont4 .container-fluid{
    position: relative;
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.page1 .cont4 .container-fluid .row .grid{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 80%;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 50px;
}
.page1 .cont4 .container-fluid .row .grid .box{
    height: 150px;
    border-radius: 20px;
    background-color: #5353E0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page1 .cont4 .container-fluid .row .grid .box .img{
    width: 40%;
    height: 50%;
}
.page1 .cont4 .container-fluid .row .grid .box .img1{
    background-image: url(../assets/page1/heart.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.page1 .cont4 .container-fluid .row .grid .box .img2{
    background-image: url(../assets/page1/kidney.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.page1 .cont4 .container-fluid .row .grid .box .img3{
    background-image: url(../assets/page1/cancer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.page1 .cont4 .container-fluid .row .grid .box .img4{
    background-image: url(../assets/page1/brain.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.page1 .cont4 .container-fluid .row .grid .box .img5{
    background-image: url(../assets/page1/orthopedic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.page1 .cont4 .container-fluid .row .grid .box .img6{
    background-image: url(../assets/page1/fertility.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.page1 .cont4 .container-fluid .row .grid .box .textarea{
    margin-top: 10px;
    color: white;
    font-size: 24px;
}
.page1 .cont4 .container-fluid .row .content{
    color: white;
    padding: 0 5vw;   
    padding-top: 100px;
}
.page1 .cont4 .container-fluid .row .content .bigheading{
    font-size: 42px;
    font-weight: 700;
}
.page1 .cont4 .container-fluid .row .content .smallheading{
    font-size: 28px;
}
.page1 .cont4 .container-fluid .row .content .view{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.page1 .cont4 .container-fluid .row .content .view .img{
    background-image: url(../assets/page1/rightarrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 60px;
    width: 60px;
    margin-right: 20px;
}
.page1 .cont4 .container-fluid .row .content .view p{
    cursor: pointer;
}
.page1 .cont5 .row1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page1 .cont5 .row1 .bigheading{
    font-size: 40px;
    font-weight: 700;
    color: #0010DB;
}
.page1 .cont5 .row1 .smallheading{
    font-size: 32px;
    color: #0010DB;
}
.page1 .cont5 .row2{
    position: relative;
}
.page1 .cont5 .row2 .line.des{
    position: absolute;
    top: 75px;
    right: 11%;
    left: 11%;
    height: 2px;
    background-color: #000492;
    z-index: -1;
}
.page1 .cont5 .row2 .grid .block .rt{
    position: absolute;
    top: 51px;
    right: 0;
    height: 50px;
    width: 50px;
    transform: translateX(100%);
}
.page1 .cont5 .row2 .grid{
    display: grid;
    justify-content: space-around;
    gap: 50px;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 30px;
    margin-bottom: 100px;
}
.page1 .cont5 .row2 .grid.mob{
    display: none;
}
.page1 .cont5 .row2 .grid .block{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.page1 .cont5 .row2 .grid .block .circle{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #2E008B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page1 .cont5 .row2 .grid .block .circle .img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 55%;
    width: 55%;
}
.page1 .cont5 .row2 .grid .block .circle .img1{
    background-image: url(../assets/page1/detail.png);
}
.page1 .cont5 .row2 .grid .block .circle .img2{
    background-image: url(../assets/page1/visa.png);
}
.page1 .cont5 .row2 .grid .block .circle .img3{
    background-image: url(../assets/page1/fly.png);
}
.page1 .cont5 .row2 .grid .block .circle .img4{
    background-image: url(../assets/page1/gettreated.png);
}
.page1 .cont5 .row2 .grid .block .content{
    height: 75px;
    font-size: 24px;
    font-weight: 500;
    padding-top: 10px;
}

.page1 .downdesigntriangle{
    position: relative;
    z-index: 1;
}
.page1 .downdesigntriangle .content{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 38px;
    color: white;
    z-index: 1;
}
.page1 .downdesigntriangle .top{
    position: relative;
    bottom: 0;
}
.page1 .downdesigntriangle .bottom{
    position: absolute;
    bottom: 0;
}

.page1 .bottomborder2{
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 5;
}
.page1 .bottomborder2 .firstbottom{
    height: 20px;
    background-color: #5353E0;
}
.page1 .bottomborder2 .secondbottom{
    height: 20px;
    background-color: #2E008B;
}

.page1 .cont6{
    font-size: 62px;
    font-weight: 700;
    color: #000492;
    padding: 10vh 10vw 10vh 20vw;
}
.page1 .cont6 .smallheading{
    font-size: 42px;
    font-weight: 400;
}
.page1 .cont6 .getintouchbtn{
    padding: 10px 20px;
    font-size: 24px;
    border: 2px solid #0010DB;
    color: #0010DB;
    border-radius: 30px;
    float: right;
    margin-top: 80px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.page1 .cont6 .getintouchbtn:hover{
    background-color: #0010DB;
    color: white;
}

@media only screen and (max-width: 1080px){
    .page1 .cont2 .box_2 .estimate{
        font-size: 32px;
    }
    
    .page1 .cont5 .row2 .line.des{
        position: absolute;
        top: 60px;
        right: 11%;
        left: 11%;
        height: 2px;
        background-color: #000492;
        z-index: -1;
    }
    .page1 .cont5 .row2 .grid .block .rt{
        position: absolute;
        top: 36px;
        right: 0;
        height: 50px;
        width: 50px;
        transform: translateX(100%);
    }
    .page1 .cont5 .row2 .grid .block .circle{
        height: 120px;
        width: 120px;
        border-radius: 50%;
        background-color: #2E008B;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
@media only screen and (max-width: 768px){
    
    .page1 .cont1{
        padding: 190px 5vw 0px 5vw;
    }
    .page1 .cont1 .box1{
        text-align: center;
        margin-bottom: 50px;
    }
    .page1 .cont1 .box1 .mainheading{
        font-size: 42px;
        font-weight: 700; 
        word-spacing: auto;
        line-height: 40px; 
        margin-bottom: 40px;
    }
    .page1 .cont1 .box1 .smallheading{
        font-size: 32px; 
        font-weight: 500; 
        line-height: 60px;
        word-spacing: 2px;
        margin-top: 0px;
    }
    .page1 .cont1 .box1 .bluebtn{
        font-size: 24px;
    }
    
    
    .page1 .cont2 .box_2{
        grid-template: 0.5fr 0.5fr 0.5fr 1fr / 1fr 1fr;
    }
    .page1 .cont2 .box_2 .form .treatment_input, 
    .page1 .cont2 .box_2 .form .location_input{
        margin-top: 25px;
        font-size: 18px;
        width: 80%;
    }
    .page1 .cont2 .box_2 .form .searchbutton{
        height: 50px;
        width: 50px;
        margin-top: 25px;
    }
    .page1 .cont2 .box_2 .estimate{
        font-size: 24px;
        color: black;
        padding-top: 20px;
    }
    .page1 .cont2 .doctor_earphone{
        height: 300px;
    }
    .page1 .cont2 .doctor{
        height: 300px;
    }

    .page1 .cont3 .box_1{
        text-align: center;
        align-items: center;
        margin-top: 50px;
    }
    .page1 .cont3 .box_1 .bigheading{
        font-size: 24px;
    }
    .page1 .cont3 .box_1 .smallheading{
        font-size: 18px;
    }
    
    .page1 .cont3 .box_2 .form{
        margin-top: 50px;
    }
    .page1 .cont3 .box_2 .form label{
        font-size: 24px;
    }
    .page1 .cont3 .box_2 .form .input_area{
        font-size: 18px;
    }
    .page1 .cont3 .box_2 .submitbtn{
        font-size: 18px;
        margin-top: 50px;
    }
    .page1 .cont4 .container-fluid .row .content{
        padding-top: 50px;
    }
    .page1 .cont4 .container-fluid .row .grid .box .textarea{
        font-size: 20px;
    }
    .page1 .cont4 .container-fluid .row .content .bigheading{
        font-size: 28px;
        font-weight: 600;
        text-align: center;
    }
    .page1 .cont4 .container-fluid .row .content .smallheading{
        font-size: 20px;
        text-align: center;
    }
    .page1 .cont4 .container-fluid .row .content .view{
        font-size: 16px;
    }

    .page1 .cont5{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .page1 .cont5 .row1 .bigheading{
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }
    .page1 .cont5 .row1 .smallheading{
        font-size: 20px;
        text-align: center;
    }
    .page1 .cont5 .row2 .des{
        display: none;
    }
    .page1 .cont5 .row2 .grid.mob{
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr / 1fr;
        row-gap: 75px;
    }
    .page1 .cont5 .row2 .grid .block{
        flex-direction: row;
        align-items: center;
    }
    .page1 .cont5 .row2 .grid .block .circle{
        height: 100px;
        width: 100px;
        margin-right: 50px;
        position: relative;
    }
    .page1 .cont5 .row2 .grid .block .circle .mrt{
        position: absolute;
        bottom: -30px;
        transform: rotate(90deg) translateX(60%);
        height: 50px;
        width: 50px;
    }
    .page1 .cont5 .row2 .grid .block .circle .line{
        position: absolute;
        bottom: 50%;
        width: 2px;
        height: 500px;
        background-color: #000492;
        z-index: -1;
    }
    .page1 .cont5 .row2 .grid .block .content{
        height: 50px;
        font-size: 28px;
        padding-top: 0px;
    }
    .page1 .downdesigntriangle .content{
        font-size: 24px;
    }

    .page1 .cont6{
        font-size: 20px;
        padding: 50px 5vw 50px 5vw;
        text-align: center;
    }
    .page1 .cont6 .smallheading{
        font-size: 28px;
        font-weight: 400;
    }
    .page1 .cont6 .getintouchbtn{
        padding: 10px 20px;
        font-size: 18px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 500px){
    
    
    .page1 .cont1 .toplogo{
        height: 120px;
        width: 230px;
        padding: 10px;
        clip-path: ellipse(66% 100% at 33% 0%);
    }
    .page1 .cont1 .toplogo .logo{
        height: 20px;
        width: 20px;
        transform: scale(4);
    }
    .page1 .cont1 .toplogo .brand{
        margin-left: 20px;
        line-height: 20px;
        font-size: 22px;
        padding-right: 30px;
        padding-bottom: 10px;
        border-bottom: 2px solid white;
        margin-bottom: 10px;
    }
    .page1 .cont1 .toplogo .tagline{
        font-size: 12px;
    }
    .page1 .cont1 .box1 .mainheading{
        font-size: 28px;
        font-weight: 700; 
        line-height: 40px; 
        margin-bottom: 40px;
    }
    .page1 .cont1 .box1 .smallheading{
        font-size: 20px; 
        line-height: 30px;
    }
    .page1 .cont1 .box1 .bluebtn{
        font-size: 16px;
    }

    
    .page1 .cont2 .doctor_earphone{
        height: 200px;
    }
    .page1 .cont2 .doctor{
        height: 200px;
    }

    .page1 .cont3 .box_2 .form{
        width: 100%;
        padding: 25px 20px;
    }
    .page1 .cont3 .box_2 .form label{
        font-size: 18px;
    }
    .page1 .cont3 .box_2 .form .input_area{
        font-size: 16px;
    }
    .page1 .cont3 .leftarrow,
    .page1 .cont3 .rightarrow{
        display: none;        
    }
    .page1 .cont3 .box_2 .submitbtn{
        font-size: 18px;
        font-weight: 500;
    }

    .page1 .cont4 .container-fluid .row .grid{
        width: 60%;
        grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr;
        gap: 25px;
    }

    .page1 .cont5 .container-fluid .row{
        margin-bottom: 50px;
    }
    .page1 .cont5 .row1 .bigheading{
        font-size: 22px;
        font-weight: 700;
        text-align: center;
    }
    .page1 .cont5 .row1 .smallheading{
        font-size: 18px;
        text-align: center;
    }
    
    .page1 .cont5 .row2 .grid.mob{
        row-gap: 60px;
    }
    .page1 .cont5 .row2 .grid .block .circle{
        height: 75px;
        width: 75px;
        margin-right: 30px;
        position: relative;
    }
    .page1 .cont5 .row2 .grid .block .circle .mrt{
        position: absolute;
        bottom: -30px;
        transform: rotate(90deg) translateX(60%);
        height: 40px;
        width: 40px;
    }
    .page1 .cont5 .row2 .grid .block .circle .line{
        bottom: 50%;
        width: 2px;
        height: 400px;
        background-color: #000492;
        z-index: -1;
    }
    .page1 .cont5 .row2 .grid .block .content{
        height: 30px;
        font-size: 18px;
        padding-top: 0px;
    }
    
    .page1 .downdesigntriangle .content{
        font-size: 16px;

    }
    .page1 .bottomborder2 .firstbottom{
        height: 10px;
    }
    .page1 .bottomborder2 .secondbottom{
        height: 10px;
    }
}