.page3{
    overflow-x: hidden;
}
.page3 .cont1{
    position: relative;
    margin-bottom: 50px;
    padding-top: 190px;
    padding-right: 5vw;
}
.page3 .cont1 .details{
    display: flex;
    justify-content: center;
}
.page3 .cont1 .details .details_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 350px;
    background-color: white;
    box-shadow: 2px 3px 5px #00000054;
    border-radius: 20px;
}
.page3 .cont1 .details .details_item .ele{
    width: 80%;
    color: #000492;
    padding: 10px;
    border-bottom: 3px solid #0071FA;
    margin-bottom: 20px;
    box-shadow: 2px 3px 5px #00000054;
    transition: 0.25s ease-in-out;
}
.page3 .cont1 .details .details_item .ele:hover{
    transform: scale(1.03);
    box-shadow: 2px 2px 10px rgba(73, 73, 73, 0.5);
    cursor: pointer;
}
.page3 .cont1 .details .details_item .about{
    margin-top: 20px;
}
.page3 .cont1 .content_area{
    padding: 40px;
    background-color: #d2e5fff1;
    box-shadow: 2px 3px 5px #0045a027;
}
.page3 .cont1 .content_area .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page3 .cont1 .content_area .content .box1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #000492;
    font-size: 28px;
    font-weight: 600;
}
.page3 .cont1 .content_area .content .box1 span{
    font-size: 18px;
    font-weight: 500;
}
.page3 .cont1 .content_area .content .box1 .box12{
    display: flex;
    justify-content: flex-end;
}
.page3 .cont1 .content_area .content .box1 .box12 .enqbtn{
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 7.5px 15px;
    background-color: #3243CF;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.page3 .cont1 .content_area .content .box1 .box12 .enqbtn:hover{
    color: #3243CF;
    background-color: #d2e5ff;
    animation: bounce1 0.25s linear forwards;
}
@keyframes bounce1{
    0%{
        transform: scale(1);
    }
    33%{
        transform: scale(0.9);
    }
    67%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
.page3 .cont1 .content_area .content .box2{
    width: 100%;
    height: 300px;
}
.page3 .cont1 .content_area .content .box2 .carousel .carousel-item .img{
    background-color: black;
    color: white;
    border-radius: 20px;
    height: 300px;
    font-size: 50px;
}
.page3 .carousel-control-prev, .carousel-control-next{
    transition: 0.5s ease-in-out;
}
.page3 .carousel-control-prev:hover{
    animation: move_left 2s linear infinite normal forwards;
    color:  #475fff;
}
@keyframes move_left{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(0px);
    }
}
.page3 .carousel-control-next:hover{
    animation: move_right 2s linear infinite normal forwards;
    color:  #475fff;
}
@keyframes move_right{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0px);
    }
}
.page3 .cont1 .content_area .content .box3{
    width: 100%;
    padding: 40px 0;
}
.page3 .cont1 .content_area .content .box3 p{
    color: #2E008B;
    font-size: 32px;
    font-weight: 600;
    width: 130px;
    border-bottom: 4px solid #2E008B;
    white-space: nowrap;
}
.page3 .cont1 .content_area .content .box3 .data{
    color: #2E008B;
    padding: 0 20px;
    font-size: 18px;
    text-align: justify;
    margin-top: 40px;
}
.page3 .cont1 .content_area .content .box3 .data li{
    margin-bottom: 30px;
}
.page3 .cont1 .content_area .content .box4{
    width: 100%;
}
.page3 .cont1 .content_area .content .box4 p{
    color: #2E008B;
    font-size: 32px;
    font-weight: 600;
    width: 130px;
    border-bottom: 4px solid #2E008B;
    white-space: nowrap;
}
.page3 .cont1 .content_area .content .box4 .data{
    color: #2E008B;
    padding: 0 20px;
    font-size: 18px;
    text-align: justify;
    margin-top: 40px;
}
.page3 .cont1 .content_area .content .box4 .data li{
    margin-bottom: 30px;
}
.page3 .cont1 .content_area .content .box5{
    width: 100%;
    margin-bottom: 50px;
}
.page3 .cont1 .content_area .content .box5 p{
    color: #2E008B;
    font-size: 32px;
    font-weight: 600;
    width: 130px;
    border-bottom: 4px solid #2E008B;
    white-space: nowrap;
}
.page3 .cont1 .content_area .content .box5 .carousel{
    height: 400px;
}
.page3 .content .box5 .carousel .card_container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.page3 .content .box5 .carousel .card_{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 27%;
    height: 100%;
}
.page3 .content .box5 .carousel .card_ .img{
    background-color: black;
    width: 180px;
    height: 175px;
    border-radius: 50%;
}
.page3 .content .box5 .carousel .card_ .bigheading{
    color: #2E008B;
    font-weight: 700;
    font-size: 24px;
}
.page3 .content .box5 .carousel .card_ .smallheading{
    color: #2E008B;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}
.page3 .doc_nav-left{
    transition: 0.5s ease-in-out;
    transform: translateX(-60px);
}
.page3 .fa-chevron-right, .fa-chevron-left{
    color: #000B56;
}
.page3 .doc_nav-left:hover{
    animation: move_left1 2s linear infinite normal forwards;
    color:  #475fff!important;
}
@keyframes move_left1{
    0%{
        transform: translateX(-60px);
    }
    50%{
        transform: translateX(-70px);
    }
    100%{
        transform: translateX(-60px);
    }
}
.page3 .doc_nav-right{
    transition: 0.5s ease-in-out;
    transform: translateX(60px);
}
.page3 .doc_nav-right:hover{
    animation: move_right1 2s linear infinite normal forwards;
    color:  #475fff;
}
@keyframes move_right1{
    0%{
        transform: translateX(60px);
    }
    50%{
        transform: translateX(70px);
    }
    100%{
        transform: translateX(60px);
    }
}
.page3 .cont1 .content_area .content .box6{
    width: 100%;
}
.page3 .cont1 .content_area .content .box6 p{
    color: #2E008B;
    font-size: 32px;
    font-weight: 600;
    width: 130px;
    border-bottom: 4px solid #2E008B;
    white-space: nowrap;
}
.page3 .cont1 .content_area .content .box6 .data{
    color: #2E008B;
    padding: 0 20px;
    font-size: 18px;
    text-align: justify;
    margin-top: 30px;
}
.page3 .cont1 .content_area .content .box6 .data li{
    margin-bottom: 30px;
}
.page3 .cont1 .content_area .content .box7{
    width: 100%;
}
.page3 .cont1 .content_area .content .box7 p{
    color: #2E008B;
    font-size: 32px;
    font-weight: 600;
    width: 130px;
    border-bottom: 4px solid #2E008B;
    white-space: nowrap;
}
.page3 .cont1 .content_area .content .box7 .data{
    color: #2E008B;
    padding: 0 20px;
    font-size: 18px;
    text-align: justify;
    margin-top: 30px;
}
.page3 .cont1 .content_area .content .box7 .data li{
    margin-bottom: 30px;
}

@media only screen and (max-width: 1000px) and (min-width: 550px){
    .page3 .cont1{
        padding-top: 200px;
        padding-right: 5vw;
        padding-left: 5vw;
    }
    .page3 .cont1 .details{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    .page3 .cont1 .details .details_item{
        width: 350px;
        height: 350px;
    }
    .page3 .cont1 .content_area{
        padding: 40px;
        background-color: #d2e5fff1;
    }
    .page3 .cont1 .content_area .content .box1{
        font-size: 20px;
        font-weight: 700;
    }
    .page3 .cont1 .content_area .content .box1 span{
        font-size: 16px;
    }
    .page3 .cont1 .content_area .content .box1 .box12 .enqbtn{
        font-size: 16px;
        white-space: nowrap;
    }
    .page3 .cont1 .content_area .content .box3{
        width: 100%;
        padding: 40px 0;
    }
    .page3 .cont1 .content_area .content .box3 p{
        font-size: 24px;
        width: 100px;
    }
    .page3 .cont1 .content_area .content .box3 .data{
        font-size: 18px;
    }
    .page3 .cont1 .content_area .content .box3 .data li{
        margin-bottom: 15px;
    }
    .page3 .cont1 .content_area .content .box4 p{
        font-size: 24px;
        width: 100px;
    }
    .page3 .cont1 .content_area .content .box4 .data{
        font-size: 18px;
    }
    .page3 .cont1 .content_area .content .box5 p{
        font-size: 20px;
        width: 100px;
    }
    .page3 .cont1 .content_area .content .box5 .carousel{
        height: 400px;
    }
    .page3 .cont1 .content_area .content .box6 p{
        font-size: 24px;
        width: 100px;
        white-space: nowrap;
    }
    .page3 .cont1 .content_area .content .box6 .data{
        font-size: 18px;
    }
    .page3 .cont1 .content_area .content .box6 .data li{
        margin-bottom: 15px;
    }
    .page3 .cont1 .content_area .content .box7 p{
        font-size: 24px;
        width: 100px;
    }
    .page3 .cont1 .content_area .content .box7 .data{
        font-size: 18px;
    }
    .page3 .cont1 .content_area .content .box7 .data li{
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 550px){
    .page3 .cont1{
        padding-top: 200px;
        padding-right: 0;
        padding-left: 0;
    }
    .page3 .cont1 .details{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        padding-left: 30px;
    }
    .page3 .cont1 .details .details_item{
        width: 350px;
        height: 350px;
    }
    .page3 .cont1 .content_area{
        padding: 20px 10px 20px 30px;
        background-color: #d2e5fff1;
    }
    .page3 .cont1 .content_area .content .box1{
        font-size: 16px;
        font-weight: 700;
    }
    .page3 .cont1 .content_area .content .box1 span{
        font-size: 16px;
    }
    .page3 .cont1 .content_area .content .box1 .box12 .enqbtn{
        font-size: 16px;
        white-space: nowrap;
    }
    .page3 .cont1 .content_area .content .box3{
        width: 100%;
        padding: 40px 0;
    }
    .page3 .cont1 .content_area .content .box3 p{
        font-size: 20px;
        width: 70px;
        border-bottom: 3px solid #2E008B;
    }
    .page3 .cont1 .content_area .content .box3 .data{
        font-size: 16px;
        margin-top: 20px;
    }
    .page3 .cont1 .content_area .content .box3 .data li{
        margin-bottom: 15px;
    }
    .page3 .cont1 .content_area .content .box4 p{
        font-size: 20px;
        width: 70px;
        border-bottom: 3px solid #2E008B;
    }
    .page3 .cont1 .content_area .content .box4 .data{
        font-size: 16px;
        margin-top: 20px;
    }
    .page3 .cont1 .content_area .content .box5 p{
        font-size: 20px;
        width: 70px;
        border-bottom: 3px solid #2E008B;
    }
    .page3 .cont1 .content_area .content .box5 .carousel{
        height: 400px;
    }
    .page3 .doc_nav-left{
        transform: translateX(-10px);
    }
    .page3 .doc_nav-right{
        transform: translateX(10px);
    }
    .page3 .cont1 .content_area .content .box6 p{
        font-size: 20px;
        width: 70px;
        border-bottom: 3px solid #2E008B;
    }
    .page3 .cont1 .content_area .content .box6 .data{
        font-size: 16px;
    }
    .page3 .cont1 .content_area .content .box6 .data li{
        margin-bottom: 10px;
    }
    .page3 .cont1 .content_area .content .box7 p{
        font-size: 20px;
        width: 70px;
        border-bottom: 3px solid #2E008B;
    }
    .page3 .cont1 .content_area .content .box7 .data{
        font-size: 16px;
    }
    .page3 .cont1 .content_area .content .box7 .data li{
        margin-bottom: 10px;
    }
}